{% extends 'base.html.twig' %}

{% block title %}New Task{% endblock %}

{% block body %}
<div class="blog-header">
    <h2 class="blog-title">Новая задача</h2>
</div>

<div class="row" >
    <div class="col-sm-12 blog-main">
        {% include '_alert.html.twig' with {'type':'form'} %}
        {% include 'task/_form.html.twig' with {'profile':task.profile} %}
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/task.js') }}"></script>
{% endblock %}